@page "/"
@using senkovlad.chat.shared;
@using System.Threading;
@using System.IO;
@inject Greeter.GreeterClient greeterClient
@implements IDisposable

<h1>MESSAGES: </h1>

@foreach (var message in messages)
{
    <div>@message</div>
}

@code {
    private List<string> messages = new List<string>();
    private CancellationTokenSource CancellationTokenSource = new CancellationTokenSource();
    private CancellationToken cancellationToken;

    protected override async Task OnInitializedAsync()
    {
        cancellationToken = CancellationTokenSource.Token;

        using (var stream = greeterClient.JoinChat(new HelloRequest()))
        {
            while(await stream.ResponseStream.MoveNext(cancellationToken))
            {
                messages.Add(stream.ResponseStream.Current.Message);
                this.StateHasChanged();
            }
        }
    }

    void IDisposable.Dispose()
    {
        CancellationTokenSource.Cancel();
    }
}
